<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <body>
    </head>
        
        <!-- username -->
        <label for="username">USERNAME</label>
        <input type="text" id="username"/>
        <!-- password -->
        <label for="password">PASSWORD</label>
        <input type="text" id="password">
        <!-- email -->
        <label for="email">E-MAIL</label>
        <input type="text" id="email"/>
        
        <!-- further down -->
        
        <input type="submit" value="login">
        
        <!-- biography -->
        <label for="biography">BIOGRAPHY</label>
        <!-- textarea for larger bodies of text -->
        <textarea id="biography"></textarea>
    </body>
    </html>