<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <title>New Investment Account</title>
    <%- include ('./partials/head.ejs') %>
</head>
<body>
    <div class='flexbox-item1'>
    <h3>Add New Investment Account</h3>
    <form action="/portfolio" method="POST">
        Investment: <input type="text" name="title"><br>
        Institution: <input type="text" name="Institution"><br>
        Amount Invested: <input type='text' name='amount'><br>
        Completed: <input type="checkbox" name="completed"><br>
        <input style='background-color:orange;' type="submit" value="Add Account"><br>
        <a href="/portfolio"> Go Back Home</a>
    </form>
</div>
</body>
</html>