<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DigiWallet</title>
    <link rel='stylesheet' type='text/css' href='/public/style.css'>
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
</head>
<%- include ('./partials/head.ejs') %>

<body>
    <!-- ============= CONTAINER ============== -->
    <div class="container1">
        <!-- sidebar -->
        <div class="sidebar"></div>
        <!-- registration container -->
        <div class="registration">
          <h1>Welcome Back!</h1>
          <!-- START FORM -->
            <!-- fieldset for account info -->
            <fieldset class="account-info">
              <!-- legend for account info -->
                <!-- username -->
                <label>USERNAME</label>
                <input type="text"/>
                <!-- password -->
                <label>PASSWORD</label>
                <input type="text">
            </fieldset></form>
                      <!-- fieldset for profile info -->
          <fieldset class="profile-info">
            <!-- legend for profile info -->
              <!-- biography -->
              <a href="/login">Go Back</a>
              <!-- textarea for larger bodies of text -->
          </fieldset>
            <!-- fieldset for profile info -->
            <!-- submit button -->
            <form action="/login/portfolio">
            <input type="submit">
          </form>
        </div>
      </div>
    </body>
  </html>