<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>See Account Details</title>
    <%- include ('./partials/head.ejs') %>
</head>
<body>
    <h1>See Account Details</h1>
    <%console.log('---', account)%>
    <h3><%= account.investment %></h3>
    
    <h3><%= account.amount %></h3>
    <p>Held by: <%= account.institution %></p>
    <a href="/portfolio">Back to Account List</a>
    
</body>
</html>