<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>See Book Details</title>
</head>
<body>
    <h1>See Account Details</h1>
    <h3><%= account.title %></h3>
    <p>Authored by: <%= account.author %></p>
    <a href="/portfolio">Back to Account List</a>
    
</body>
</html>